.calculator {
    background-color: lightgrey;
    border: 5px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: white;
    color: black;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}

button {
    height: 60px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 2rem;
    color: rgb(49, 48, 48);
}

button:hover {
    background-color: lightgrey;
}

.operation {
    background-color: white;
    color: red;
}

.number, .decimal {
    background-color: white;
}

.all-clear, .delete {
    background-color: red;
    border-color: rgb(128, 3, 3);
    color: white;
}

.equal-sign {
    background-color: royalblue;
    border-color: rgb(42, 73, 167);
    color: white;
    height: 74%;
    grid-area: 2/4/6;
}

.delete {
    grid-area: 5/4;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

